<!-- views/partials/_header.ejs -->

<!-- header to be used on all pages -->

<div>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to tinyApp</h1>
    </div>
    <% if (!user) { %>
    <form action="/register" method="POST">
    <a href="/urls/register"> Register Here </a>
  </form>
  <form action="/login" method="POST">
    <a href="/urls/login"> Log in Here </a>
     <% } %>
  </form>
  </div>
</div>



