<!-- /views/login.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1> Welcome to tinyApp </h1>
    <h2> Please log in </h2>
    <p>
      <% if (!user) { %>
      <form action="/login" method="POST">
        <label>email</label>
        <input type="email" name="email" />
    </p>
    <p>
      <label>Password</label>
      <input type="password" name="password" />
    </p>
    <p>
      <input type="submit" name="Login" value="Login"/>
    </p>
      </form>

    <% } %>
  </form>
      Don't have an account? <a href="/urls/register"> Register Here </a>
  </body>
</html>
