<!-- /views/urls_register.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>



  <form action="/urls/register" method="POST" style="margin:150px">
     <h3> Please register below </h3>
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <button name="button"> SUBMIT </button>
  </form>

</body>
</html>